@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.side-bar {
    background-color: #1992D4;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    padding-left: 20px;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 30px;
    position: relative;
    z-index: 10;
    box-shadow: 1px 1px 5px ;
}

.greeting {
    grid-row: 2;
}

.content {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
}

.container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));    
}


.logo {
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight:600;
    color: white;
}

.link {
    display: flex;
    padding: 10px;
    gap: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.greeting {
    display: flex;
    justify-content: start;
    align-items: center;
}

.greeting-text {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin:0px;
    padding: 0px;
}

li {
    font-size: 1.2rem;
    font-weight: 500;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    min-width: 90px;
    color: white;
    background-color: #1992D4;
    box-shadow: none;
    border: none;
}

button:hover {
    background-color: #1786c2;
}

textarea {
    border-radius: 10px;
    resize: none;
    background-color: #E2E8F0;
    border: none;
    height: 20px;
    margin-left: 10px;
}

.greeting-text p {
    font-weight: bold;
}

.little-text {
    font-size: .8rem;
    margin-bottom: 0px;
}

.big-text {
    font-size: 1.2rem;
    margin-top: 10px;
}

#super-img {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.user p {
    padding: 0px;
    margin-left: -50px;
    font-weight: bold;
    font-size: 1.1rem;
}

.user span {
    margin-right: -50px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #94989e;
    width: auto;
    height: auto;
}

.card-title {
    margin-bottom: 0px;
}

.card-description {
    margin-top: 5px;
}

.card-icons {
    display: flex;
    justify-content: end;
    margin-right: 25px;
    gap:10px;
    margin-bottom: 15px;
}

.card-text {
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.left-stripe {
    background-color: orange;
    border-radius: 5px 0px 0px 5px;
    width: 30px;
    height: auto;
}

.right-content {
    margin-left: 15px;
}

.announcement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #94989e;
}

.divider {
    height: 1px;
    width: 200px;
    background-color: gray;
}

.announcement h3 {
    margin-bottom: 0;
}

.announcement p {
    font-size: .9rem;
    margin-top: 0;
}

.trending-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #94989e;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 30px;
}

.trend {
    display: flex;
    align-items: center;
}

.t-right h4 {
    margin-bottom: 0px;
}

.t-right p {
    margin-top: 3px;
}


.t-left {
    margin-right: 15px;
}